html {
  box-sizing: border-box;
  font-family: $fuente_principal;
  font-size: 18px;
}

body {
  background-color: $gris;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 2;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.contenedor {
  max-width: min($pc, 95%);
  margin: auto;
}

.contenedor-pequenio {
  max-width: min($tablet, 95%);
  margin: auto;
}

.contenedor-extra {
  max-width: min($pcXL, 95%);
  margin: auto;
}

.contenido-principal {
  min-height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.alinear-derecha {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.alinear-izquierda {
  display: flex;
  justify-content: start;

  .textos {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .boton-gris {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.mayuscula {
  text-transform: uppercase;
}

.requerido {
  color: red;
}

.contenedor-boton {
  margin: 10px 0;
}

.boton-azul {
  @include boton($azul, inline-block);

  &.contorno {
    @include contorno($azul);
  }
}

.boton-rojo {
  @include boton($rojo, inline-block);

  &.contorno {
    @include contorno($rojo);
  }
}

.boton-gris {
  @include boton(darken($gris, 50%), inline-block);

  &.contorno {
    @include contorno(darken($gris, 50%));
  }
}

.boton-verde {
  @include boton($verde, inline-block);

  &.contorno {
    @include contorno($verde);
  }
}

.circulo {
  border-radius: 40px;
}

.boton-mapa {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 15px;
}

ul {
  list-style: none;
}

img {
  width: 70px;
  height: 50px;
}

.bloqueo {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $negro;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}

.negrita {
  font-weight: bold;
}

span.error,
span.cancelado {
  @include estatus(lighten($rojo, 15%));
}

span.correcto,
span.terminado {
  @include estatus($verdeClaro);
}

span.pendiente {
  @include estatus($naranja);
}

span.encurso {
  @include estatus(darken($verde, 5%));
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: $azul;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
