@mixin telefono {
  @media (max-width: #{$telefono}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$pc}) {
    @content;
  }
}

@mixin desktopXL {
  @media (max-width: #{$pcXL}) {
    @content;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($color, $display) {
  display: $display;
  background-color: $color;
  color: $blanco;
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;

  &:hover {
    background-color: darken($color, 5);
  }
}

@mixin contorno($color) {
  background-color: $blanco;
  color: $negro;
  border: solid 1px $color;

  &:hover {
    background-color: $color;
    color: $blanco;
  }
}

@mixin estatus($color) {
  display: block;
  width: 100%;
  background-color: $color;
  color: $blanco;
  padding: 0 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@mixin flecha($posicion) {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: solid transparent;
    width: 0;
    height: 0;

    @if $posicion == arriba {
      bottom: 100%;
      left: 45%;
    }

    @if $posicion == abajo {
      top: 100%;
      left: 45%;
    }

    @if $posicion == izquierda {
      right: 100%;
      top: 30%;
    }

    @if $posicion == derecha {
      left: 100%;
      top: 30%;
    }
  }
}
