$fuente_principal: "Montserrat", sans-serif;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$pc: 1024px;
$pcXL: 1400px;

// Colores
$blanco: #fff;
$negro: #848484;
$gris: #f1f1f1;
$azul: #134eee;
$azulBajo: #6588bd;
$verde: #0787a0;
$verdeOscuro: #05b2c5;
$rojo: #d90e0e;
