$fuente_principal: "Montserrat", sans-serif;

// Tamaños
$telefono: 480px;
$tablet: 768px;
$pc: 1024px;
$pcXL: 1400px;

// Colores
$blanco: #fff;
$negro: #333;
$plateado: #848484;
$gris: #f1f1f1;
$azul: #134eee;
$azulBajo: #61cdf3;
$verde: #0787a0;
$verdeClaro: #12c712;
$rojo: #d90e0e;
$rosa: pink;
$naranja: #e9d502;
