.contenedor-cartas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;

  @include desktop {
    grid-template-columns: 1fr;
  }
}

.carta {
  background-color: $blanco;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;

  h1,
  h2,
  h3 {
    text-align: center;
    color: $negro;
    letter-spacing: 2px;
  }
}

.carta-encabezado {
  border-bottom: solid 1px $plateado;
}
