.formulario {
  margin-bottom: 5px;
}

.campos {
  margin-bottom: 10px;
}

.textos {
  display: block;
  width: 100%;
}

label {
  text-transform: capitalize;
}

.textos {
  padding: 7px;
  border: 1px solid silver;
  border-radius: 3px;
  color: $negro;
  outline: none;

  &:focus {
    border-color: $negro;
  }
}

.etiqueta {
  display: flex;
  position: relative;

  .textos {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  span:first-child {
    min-width: 40px;
    display: flex;
    justify-content: center;
    background-color: $azul;
    color: $blanco;
    padding: 8px;
    margin-left: -4px;
    border-radius: 7px 0 0 7px;
  }
}

select {
  background-color: transparent;
}
