.formulario {
  margin-bottom: 5px;
}

.campos {
  margin-bottom: 10px;
}

label,
.textos {
  display: block;
  width: 100%;
}

label {
  text-transform: capitalize;
}

.textos {
  padding: 7px;
  border: 1px solid silver;
  border-radius: 3px;
  color: $negro;
  outline: none;

  &:focus {
    border-color: $negro;
  }
}

select {
  background-color: transparent;
}
