.contenedor-tabla {
  width: 100%;
  margin: auto;
  overflow: auto;
}

.tabla-opciones {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  .busqueda {
    display: flex;
  }

  .boton-azul,
  .boton-gris {
    padding: 5px 15px;
  }
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: $blanco;
  margin-bottom: 5px;

  thead tr {
    background-color: $plateado;
    color: $negro;
    text-transform: capitalize;
    border-bottom: 1px solid $negro;
  }

  tbody tr {
    border-bottom: solid 2px $gris;
  }

  td {
    text-align: center;
    padding: 5px;
  }
}
