.contenedor-tabla {
  width: 100%;
  margin: auto;
  overflow: auto;
}

.tabla-opciones {
  display: flex;
  justify-content: space-between;

  .busqueda {
    display: flex;
  }

  .boton-azul,
  .boton-gris {
    padding: 5px 15px;
  }
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: $blanco;
  margin-bottom: 5px;

  thead tr {
    text-transform: capitalize;
    border-bottom: 2px solid $gris;
    background-color: darken($gris, 2);
  }

  tbody tr {
    border-bottom: solid 1px $gris;
  }

  td {
    text-align: center;
    padding: 5px;
  }
}

.contenedor-acciones {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.boton-borrar,
.boton-editar {
  padding: 5px;
  cursor: pointer;
  color: $blanco;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.8;
  }
}

.boton-editar {
  background-color: $azul;
}

.boton-borrar {
  background-color: $rojo;
}
