.pie {
  min-height: 200px;
  background-color: lighten($negro, 5);
  padding: 30px 0;
  margin-top: 15px;

  .navegacion {
    justify-content: start;
  }

  .link {
    color: $blanco;
  }

  p {
    color: $blanco;
    text-align: center;
    margin-top: 70px;
  }
}
