.contenido-encabezado.sesion {
  height: 100vh !important;
}

main.sesion {
  display: flex;
  justify-content: center;
}

.contenedor-sesion {
  width: min(600px, 90%);
  position: absolute;
  top: 40%;
  color: $blanco;

  .carta {
    background: transparent;
  }
}
