.viajes {
  i {
    padding-right: 15px;
    margin-right: 7px;
    border-right: solid 1px $blanco;
  }
}

.origen,
.destino {
  border: solid 1px $plateado;
  margin-top: 5px;
  padding: 3px 10px;
}

.costo-pasajeros {
  display: flex;
  justify-content: space-around;
  color: $azul;
}

.contenedor-viajes {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lista-eventos {
  max-height: 450px;
  overflow-y: scroll;
  padding: 15px;
}
